body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , Arial;
    text-align:center;
}

.main-container{
    display:flex;
    flex-direction: column;
}

.navbar{
    display:flex;
    padding: 20px 0px 20px 100px;
    background-color: #1f2937;
    align-items: center;
    color: #F9FAF8;
    background-image: url("/home/user/gitscript/Hahu-Landing-Page/img/tiletnew.jpg");
}

.hlinks {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;

}
.hlinks a{
    font-size: 18px;
    font-family: 'Roboto', arial;
    padding: 10px;
    text-decoration: none ;
    color: #E5E7EB;
    
}

.hlogo img{
    width:84px;
    height:84px;
    margin-right: auto;

}


.hero-main{
    display:flex;
    background-color: #1F2937;
    align-items: center;
    color: #F9FAF8;
    justify-content: center;
    padding: 90px;
    background-image: url("/home/user/gitscript/Hahu-Landing-Page/img/tilet1.jpg");
}

.hero-para{
    display:flex;
    flex-direction: column;
    flex-basis: 400px;
    text-align: left;
    margin-right: 50px;
    
}

.hero-para h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Roboto', arial;
    color: #F9FAF8;
    margin: 0;
}

.hero-para p{
    font-family: 'Roboto', arial;
    opacity:0.7;
}

.hero-para button{
    font-family: 'Roboto' arial;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 110px;
    padding: 10px;
    border: none;
    border-radius:8px;
    color:white;
    text-decoration:none;
    background: #3882f6;
}

.hero-img{
    width: 500px;
    height: 350px;
}