body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Abyssinica SIL' ,  Arial;
    text-align:center;
}

.main-container{
    display:flex;
    flex-direction: column;
}

.navbar{
    display:flex;
    padding: 20px 0px 20px 100px;
    background-color: #1f2937;
    align-items: center;
    color: #F9FAF8;
    
}

.hlinks {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;

}
.hlinks a{
    font-size: 18px;
    font-family: 'Abyssinica SIL', arial;
    padding: 10px;
    text-decoration: none ;
    color: #E5E7EB;
    
}

.hlogo img{
    width:84px;
    height:84px;
    border-radius: 12px;
    margin-right: auto;

}


.hero-main{
    display:flex;
    background-color: #1F2937;
    align-items: center;
    color: #F9FAF8;
    justify-content: center;
    padding: 90px;
    background-image: url("/home/user/gitscript/Hahu-Landing-Page/img/tiletnew.jpg");
}

.hero-para{
    display:flex;
    flex-direction: column;
    flex-basis: 400px;
    text-align: left;
    margin-right: 50px;
    
}

.hero-para h1 {
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Abyssinica SIL', arial;
    color: #F9FAF8;
    margin: 0;
}

.hero-para p{
    font-family: 'Abyssinica SIL', arial;
    opacity:0.7;
    color:whitesmoke;
}

.hero-para button{
    font-family: 'Abyssinica SIL' arial;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 110px;
    padding: 10px;
    border: none;
    border-radius:8px;
    color:white;
    text-decoration:none;
    background: #3882f6;
}

.hero-img{
    width: 500px;
    height: 350px;
}

.hcontent {
    align-items:center;
}

.hcontent-detail{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.hcontent-detail img{
    margin: 5px 20px 0px 20px;
    width: 150px;
    height: 150px;
    border: 2px solid #1F2937;
    border-radius: 15px;
    object-fit: cover;

}

.saying{
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;

}

.saying p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Abyssinica SIL', arial;
}

.saying b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Abyssinica SIL', arial;
    text-align: right;
}


.sign-up {
    background-color: #3882F6 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.sign-up * {
    flex: 1;
}

.sign-up-text {
    text-align: left;
}

.sign-up-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Abyssinica SIL', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.sign-up-button button {
    color: #fff;
    font-family: 'Abyssinica SIL', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
    
}


.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Abyssinica SIL', arial;
}